Table {
    margin-top: 1rem;
    margin-left: 0rem;
}

tbody th {
    font-weight: 400;
}

p {
    margin-top: 5rem;
}

.page-item.active .page-link{
    color: white !important;
}

.list-group {
    margin-top: 5.5rem;
}

.clickable {
    cursor: pointer;
}